<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="author" content="duanliang, duanliang920.com" />
		<title></title>
		<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/page.css" />
		<title></title>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				
				<div class="col-xs-12">
					<form action="login.do" method="post">
						<div class="form-group">
							<label for="account">账号</label>
							<input type="text" class="form-control" name="userName" id="account" placeholder="Account" />
						</div>
						<div class="form-group">
							<label for="password">密码</label>
							<input type="password" class="form-control" name="userPwd" id="password" placeholder="Password" />
						</div>
						
						
						<button type="submit" class="btn btn-default">登录</button>
					</form>
				</div>
				
			</div>
		</div>
	</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</html>